{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h2> {% if item %}
                    Edit Field
            {% else %}  Add new Field {% endif %} </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto cum debitis doloremque
                illum modi, porro rem soluta tempore velit. A, architecto assumenda culpa dolorem ea laboriosam magni
                quaerat sapiente!</p>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form|crispy }}
            {{ formset|crispy }}

            <input type="submit" value='Save'>
        </form>
    </div>


{% endblock %}